/.catkin_workspace
/.vscode
/build
/devel
src/kobuki_bumper2pc
src/kobuki_description
src/kobuki_gazebo_plugins
src/kobuki_keyop
src/kobuki_msgs
src/kobuki_node
src/kobuki_safety_controller
src/turtlebot
src/turtlebot_apps
src/turtlebot_msgs
src/turtlebot_simulator
src/yocs_cmd_vel_mux
src/yocs_controllers

!src/turtlebot_apps/turtlebot_navigation/launch/includes/gmapping/gmapping.launch.xml