<launch>

  <!-- Arguments -->
  <!-- <arg name="rviz" default="true"/> -->

  <!-- 3D sensor -->
  <arg name="3d_sensor" default="$(env TURTLEBOT_3D_SENSOR)"/>  <!-- r200, kinect, asus_xtion_pro -->
  <include file="$(find turtlebot_bringup)/launch/3dsensor.launch">
    <arg name="scan_topic" value="/scan" />
  </include>

  <!-- Gmapping -->
  <arg name="custom_gmapping_launch_file" default="$(find turtlebot_navigation)/launch/includes/gmapping/$(arg 3d_sensor)_gmapping.launch.xml"/>
  <include file="$(arg custom_gmapping_launch_file)"/>

  <!-- Move base (velocity smoothing) -->
  <include file="$(find turtlebot_navigation)/launch/includes/move_base.launch.xml"/>

  <!-- Brick-Finding node -->
  <include file="$(find project_slam)/launch/find_brick.launch"/>

  <!-- Wall-Following node -->
  <node pkg="project_slam" type="wall_follower.py" name="wall_follower" output="screen">

  <!-- RViz -->
  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find project_slam)/config/custom_gmapping.rviz" output="screen"/>


</launch>
